* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sketchContainer {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  border: 1px solid black;
}
.sketchBox {
  flex-basis: 6.25%;
  height: 6.25%;
}

.blue {
    background-color: blue;
}

.colorContainer {
    justify-content: center;
    display: flex;
    width: 480px;
    height: auto;
    border: 1px solid black;
}

.colorBox {
flex-basis: 6.25%;
  height: 29.9px;
}